.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}


body {
  background-color: #B1A698;
  color: #545354;
  font-family: monospace;
  text-align: center;
}

svg{
  background-color: #C1BABA;
}

g .inactive{
  fill: #EDECE8;
}

h1{
  padding-top: 15px;
  font-family: cursive;
  font-weight: bold;
}

h2{
  padding-top: 15px;
  font-weight: bold;
}

h6{
  font-weight: 400;
  padding-bottom: 15px;
}